<%- include('./templates/header', {title: title}); %>
<%- include('./templates/navbar'); %>
<h2>Active keys</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Key</th>
        <th scope="col">Expiration</th>
        <th scope="col">Issue</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
        <% keys.forEach((key,index)=>{%>
            <tr>
                <th scope="row"><% index+1 %></th>
                <td><%= key.key_u4 %></td>
                <td><%= key.exp_time %></td>
                <td><%= key.created_time %></td>
                <td><%= key.exp_date %></td>
              </tr>
            <%})%>
      
  
    </tbody>
  </table>
  <h2>Keys expirated</h2>
  <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Expiration</th>
            <th scope="col">Issue</th>
            <th scope="col">Time</th>
          </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
<%- include('./templates/footer'); %>