<%- include('./templates/header', {title: title}) %>
<%- include('./templates/navbar') %>

<div class="container p-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card border-info mb-3">
                <div class="card-header text-white text-center" style="background-color: #31d1f1;">
                    <h3>Log in</h3>
                </div>
                <div class="card-body">
                    <form action="/auth/login" method="post">
                        <div class="card form-group form-floating mb-3">
                            <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                   data-sb-validations="required" value="<%= locals.email %>">
                            <label for="email">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Email is required.</div>
                        </div>
                        <div class="card form-group form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Enter your password" name="password" data-sb-validations="required">
                            <label for="password">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
                        </div>
                        <div class="card form-group form-floating mb-3">
                            <button type="submit" class="btn btn-info btn-block">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="form-group">
                        <p class="text-muted small"><a href="/auth/forgotPassword" style="text-decoration:none">Forgot Password?</a></p>
                    </div>
                    <div class="form-group ">
                        <p class="text-muted small">Need an account? <a href="/auth/register" style="text-decoration:none">Register</a></p>
                    </div>
                    <% errors.forEach((error) => { %>
                        <p class="alert alert-danger"> <%= error %> </p>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./templates/footer') %>
