<%- include('./templates/header', {title: title}) %>
<%- include('./templates/navbar') %>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card border-info mb-3">
                    <div class="card-header text-white text-center" style="background-color: #31d1f1;">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <form action="/auth/register" method="post">
                            <div class="card form-group form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Enter your email"
                                           name="email" data-sb-validations="required" value="<%= locals.email %>">
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Email is required.</div>
                            </div>
                            <div class="card form-group form-floating mb-3">
                                <input type="password" class="form-control" placeholder="Enter your password" name="password" data-sb-validations="required">
                                <label for="password">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Password is required.</div>
                            </div>
                            <div class="card form-group form-floating mb-3">
                                <input type="password" class="form-control" placeholder="Re-enter your password" name="password2" data-sb-validations="required">
                                <label for="password2">Re-enter password</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Password is required.</div>
                            </div>
                            <div class="card form-group form-floating mb-3">
                                <button type="submit" class="btn btn-info btn-block">
                                    Register
                                </button>
                            </div>
                        </form>
                        <% errors.forEach( (error) => { %>
                            <p class="alert alert-danger"> <%= error %> </p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./templates/footer') %>